.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.feed-list{
  padding-left: 15px;
  padding-right: 15px;
}


.feed{
  padding: 15px;
  text-align: left;
  border-bottom: solid 1px #ccc ;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;

}

.feed:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.feed:hover .feed-controls .trash{
  display: block;
} 




.feed-details{
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  padding-right: 10px;
}

.feed-controls{
  width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

}

.author{
  color: #999;
  padding-right: 5px;
  padding-left: 5px;
}

.trash{
  display: none;
  font-size: 13px;
}

.create_at{
  color:#333;
}

.feed-tittle{
  color:#333;
}